pyyaml
mir_eval
pretty_midi
torch
numpy
pyrubberband
librosa>=0.10.0  # Updated to use the newer API
matplotlib
PySoundFile
tqdm         # added for progress display in training/prediction scripts
gdown        # added for downloading data via the YAML job